/* OneStudio Template - dark theme override */
/* #222, #ff6764, #ff7e7b */

html { background-color: #222; }
blockquote, code, samp, pre, ins, mark, .wp-caption, table, table th, table td, table caption, table.table-striped tbody tr:nth-child(odd) td, table.table-striped tbody tr:nth-child(odd) th, .fancybox-skin, .fancybox-close, #fancybox-loading, .fancybox-nav span, .fancybox-title-float-wrap .child, .fancybox-title-outside-wrap, .fancybox-title-over-wrap, .video-container, .tab-container .tab_content, .tab-container .tabs li.active a, .tab-container .tabs li.active a:hover, .pricing-table .price-item, .call-to-action, .dropcap, .post .date, .post .date .year, #sidebar ul { background-color: #333; }
.button, button, input[type=submit], input[type=reset], input[type=button], .accordion .accordion-title:before, .thumb .mask strong em, .thumb .mask strong.half:hover, .thumb .mask strong.full:hover, .dropcap.color, #tooltip, #quick-message .message, #logo h1, #menu.mobile, .post .date .month, #infscr-loading { background-color: #ff6764; }
.button:hover, button:hover, input[type=submit]:hover, input[type=reset]:hover, input[type=button]:hover, .button:focus, .button.hover, button:focus, input[type=submit]:focus, input[type=reset]:focus, input[type=button]:focus, .pagination .page-numbers:hover, .pagination .page-numbers:focus, #menu.mobile a:hover, #menu.mobile li.current_page_item > a { background-color: #ff7e7b; }
.button.dark, button.dark, input[type=submit].dark, input[type=reset].dark, input[type=button].dark, .pagination .current { background-color: #333; }
.button.dark:hover, button.dark:hover, input[type=submit].dark:hover, input[type=reset].dark:hover, input[type=button].dark:hover, .button.dark:focus, button.dark:focus, input[type=submit].dark:focus, input[type=reset].dark:focus, input[type=button].dark:focus { background-color: #111; }
input[type=text], input[type=password], input[type=email], input[type=search], input[type=date], textarea, select, .customSelect { background-color: #333; border-color: #444; color: #aaa; }
input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, textarea:focus, select:focus, .customSelectFocus { border-color: #555; }

body, .fancybox-error, #quick-message .message a, .fancybox-title-float-wrap .child, .fancybox-title-outside-wrap, .fancybox-title-over-wrap { color: #eee; }
blockquote, code, samp, pre, ins, mark, figure figcaption, a:hover, a:focus, .tab-container .tabs li a { color: #666; }

h1, h2, h3, h4, h5, ul.square li:before, blockquote.quotes:before, a, a:visited, .tab-container .tabs li.active a, #sidebar .recentcomments:before { color: #ff6764; }

abbr[title], .wp-caption, table th, table td, table caption, table tbody + tbody, .pricing-table .price-item, .pricing-table .price-item .price-title, .pricing-table .price-item .price-tag, .sep, .post .date, .post .date .year, #sidebar ul, #sidebar li, #sidebar li li, .commentlist .comment { border-color: #444; }
#fancybox-loading, #fancybox-loading div, .tab-container .tabs li.active a:before, .pricing-table .special, .pricing-table .special .price-title, .pricing-table .special .price-tag, .commentlist .bypostauthor { border-color: #ff6764; }
#tooltip:after { border-top-color: #ff7e7b; }
#tooltip { border-color: #ff7e7b; }
#tooltip.top:after { border-bottom-color: #ff6764; }

::-moz-selection { background-color: #ff6764; }
::-ms-selection { background-color: #ff6764; }
::selection { background-color: #ff6764; }

.rs-arrows a { background-color: #222; }
.rs-arrows a:hover { background-color: #333; }

.tab-container .tabs li a { background-color: #282828; }
.tab-container .tabs li a:hover { background-color: #2d2d2d; }
.pricing-table .price-item .price-title { background-color: #444; }
.pricing-table .special .price-title { background-color: #ff6764; }

.alert { border-left-color: #555; background-color: #333; }
.alert.success { background-color: #214B07; border-color: #34780C; }
.alert.notice { background-color: #756900; border-color: #978800; }
.alert.error { background-color: #AA2B00; border-color: #DD3700; }

html, .thumb .mask strong { background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAGUlEQVR42mP4//8/LxAzgDADjAEShDNANAAc5xsNlptrNAAAAABJRU5ErkJggg==); }

/* custom shadow */
.shadow, .thumb:after, .rs-thumb-wrap > a:after, .button, button, input[type=submit], input[type=reset], input[type=button], blockquote, code, samp, pre { box-shadow: inset 0 -5px 0 rgba(255,255,255,0.15); -moz-box-shadow: inset 0 -5px 0 rgba(255,255,255.15); -webkit-box-shadow: inset 0 -5px 0 rgba(255,255,255,0.15); }
.shadow-bottom, #menu.mobile, table, #sidebar div > ul { border-bottom: 5px solid rgba(255,255,255,0.15); }

.rs-arrows a em, .fancybox-close:before, .fancybox-nav span:before, .thumb .mask strong em:after, .social a.icon { background-image: url(../images/sprite-dark.png); }

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
	.rs-arrows a em, .fancybox-close:before, .fancybox-nav span:before, .thumb .mask strong em:after, .social a.icon { background-image: url(../images/sprite-dark@2X.png); }
}

@media screen and (min-width: 768px) {

	#menu ul ul { border-bottom-color: #ff7e7b; }
	#menu ul ul:before, #menu ul ul li:first-child:hover:before, #menu ul ul li.hover:first-child:before, #menu ul ul li.current_page_item:first-child:before { border: 5px dashed #ff6764; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent; }
	#menu ul ul li:first-child:hover:before, #menu ul ul li.hover:first-child:before, #menu ul ul li.current_page_item:first-child:before { border-bottom-color: #ff7e7b; }
	#menu ul ul li { background-color: #ff6764; }
	#menu ul ul li.current_page_item > a, #menu ul ul li a:hover { background-color: #ff7e7b; }
	#menu ul li.current_page_item > a, #menu li:hover > a, #menu li.hover > a { color: #999; }
	#menu ul li li.current_page_item > a, #menu li li:hover > a, #menu li li.hover > a { color: #eee; }

	#heading .rs-arrows a { position: absolute; right: 0; background-color: #333; }
	#heading .rs-arrows a:hover { background-color: #292929; }
}